:root{
    --background: #2d2d2d;
    --section-bg: #D4D4D4;
    --button-bg: #C1C1C1;
    --button-hover-bg: #bdbdbd;
    --search-color: #8b8ba7;
}

body{
    background: var(--background);
}

header{
    background: var(--background);
}

.logo{
    background-color: aliceblue;
}

.form button {
    color: var(--search-color);
}

.form {
    --input-bg: var(--section-bg);
    background: var(--input-bg,#fff);
}

.language select{
    background: var(--background);
}

.account:hover{
    background: var(--button-hover-bg);
}

.themeButton:hover{
    background: var(--button-hover-bg);
}

.categoriesButton{
    background: var(--button-bg);
}

.categories select{
    background: var(--button-bg);
}

.showcase{
    background: var(--section-bg);
}

.event{
    background: var(--section-bg);
}

.price{
    background: var(--section-bg);
}

.access-form{
    background: var(--section-bg);
}

.Form-input-section button{
    background: var(--button-bg);
}

.Form-input-section button:hover{
    background-color: var(--button-hover-bg);
}

.profile{
    background-color: var(--section-bg);
}

.Logout button{
    background: var(--background);
}

.Logout button:hover{
    background: var(--button-hover-bg);
}

.myEvents{
    background: var(--section-bg);
}

.myLikedEvents{
    background: var(--section-bg);
}