:root{
    --background: #F2F2F2;
    --section-bg: #fff;
    --logOut-hover: #bcbcbc;
}

* button{
    cursor: pointer;
}

body{
    background: var(--background);
}

.profile{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "avatar text logout";

    border-radius: 18px;

    width: 100% - 40px;
    height: 200px;
    background-color: var(--section-bg);

    padding: 5px;
}

.avatar{
    grid-area: avatar;

    align-self: center;
    justify-self: center;

    border-radius: 50%;

    width: 150px;
    height: 150px;
}

.text{
    grid-area: text;
}

.username{
    font-size: 48px;
    margin: 0;
    margin-top: 20px;
}

.info{
    margin: 0;
    margin-top: 40px;
}

.Logout{
    grid-area: logout;

    align-self: flex-start;
    justify-self: flex-end;
}

.Logout button{
    width: 100px;
    height: 50px;

    border: none;
    border-radius: 40px;

    color: red;
    background: var(--background);

    font-size: 24px;
}

.Logout button:hover{
    background: var(--logOut-hover);
}